
.table-header {
  background-color: #786797; 
  color: white; 
}
.table-header>tr>th{
  border: 1px solid #c8c2d9;
  background-color: #ebe6f6; 
}


.table-header .delete-icon {
  color: purple; 
  cursor: pointer; 
  margin-left: 5px; 
}

.table-header .header-container {
  display: flex;
  align-items: center;
  white-space: nowrap; 
}


.header-select {
  width: 150px; 
  margin-top: 5px; 
}


.custom-tab {
  color: #5e4b8c; 
}

.custom-active-tab {
  background-color: #5e4b8c !important; 
  color: white !important; 
}

.nav-tabs .nav-link.active {
  background-color: #5e4b8c !important; 
  color: white !important; 
}

.nav-pills .nav-link.active {
  background-color: #5e4b8c !important; 
  color: white !important; 
}

.active-tab {
  background-color: purple !important; 
  color: white;
  border-radius: 10px;
}

.noactive-tab {
  color: rgb(
    51,
    7,
    87
  ) !important; 
}

.title-container {
  border: 1px solid #4b0082; 
  background-color: #e6e6fa; 
  padding: 2px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px; 
}

.custom-title {
  color: #735787; 
  font-size: 15px;
  margin: 0;
  margin-left: 10px;
}

.ml-2 {
  margin-left: 15px;
}

.rowdata {
  text-align: right;
  margin-left: auto; 
}

